body {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;  
}

.logo{
  text-align: center;
}

#info{
  color: orange;
  margin: 0;
}

.row-item-inner{
  height : 50%;
}

.btn-o {
  border-radius: 100px;
  background-color: lightblue;
  color: black;
}

.btn-pm{
  border-radius: 50%;
  background-color: white;
  color: black;
  display: inline-block;
  border: solid 1px black;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  padding: 0px;
  line-height: 0;
}

.count {
  display: inline-block;
}